
body {
  background-color: #ffd7aa;
}

img {
  border-width: 0;
  vertical-align: middle;
  text-align: center;
}

h1 {
  text-align: center;
}


.menu {
  position: absolute;
  width: 7.5em;
  top: 1em;
  left: 1em;

  background-color: #ffe7cb;
  border-style: inset;
  border-width: 1px;
  border-color: #000000;

  padding: 5px;
}

#body {
  position: absolute;
  left: 10em;
  top: 1em;
  right; 1em;

  background-color: #ffe7cb;
  border-style: inset;
  border-width: 1px;
  border-color: #000000;

  padding: 5px;
}
